graft docs
graft src

prune tests
prune alphas

include .bumpversion.cfg
include .coveragerc
include .editorconfig
include .readthedocs.yml
include requirements.yml
include pyproject.toml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml

exclude PULLREQUEST.rst
exclude REQUIREMENTS.md

global-exclude *.py[cod] __pycache__/* *.so *.dylib .ipynb_checkpoints/*
global-exclude tags
global-exclude *.swp
global-exclude *.vim
