graft docs
graft src
graft example

prune alphas
prune devtools
prune tests

include .bumpversion.cfg
include .coveragerc
include .editorconfig
include .readthedocs.yaml
include requirements.yml
include requirements.txt
include pyproject.toml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini

exclude PULLREQUEST.rst

global-exclude *.py[cod] __pycache__/* *.so *.dylib .ipynb_checkpoints/*
global-exclude tags
global-exclude *.swp
global-exclude *.vim

include install_miniconda3.sh
include install_deps.sh
include activate.sh
